
body {
	background-color: black;
	color: white;
	font-family: Impact;
	text-align: center;
}
#splashH1 {
	font-size: 5em;
	text-align: center;
	color: green;
	margin-bottom: 10px;
}
#splashH2 {
	font-size:1em;
	color: green;
	text-align: center;
}
#moneytree {
  width:35%;
  height:auto;
  margin-top: 20px;
}

li {
	display: block;
	margin-top: 10px;
}

input {
	margin-top: 10px;
}

select {
	margin-top: 10px;
}

div {
	margin-top: 20px;
}

#container {
	min-width: 310px; 
	height: 400px; 
	max-width: 600px; 
	margin: 0 auto;
}