body {
	background-color: black;
	color: white;
	font-family: Impact;
	text-align: center;
}
#splashH1 {
	font-size: 5em;
	text-align: center;
	color: green;
	margin-bottom: 10px;
}
#splashH2 {
	font-family: Roboto;
	font-size:1em;
	color: green;
	text-align: center;
}
a.1, a.2 {
	font-family: Roboto;
}
#moneytree {
  width:35%;
  height:auto;
  margin-top: 20px;
}
#minitree {
  width:10%;
  height:auto;
  margin-top: 10px;
}
#tipshead {
	font-size: 4em;
	color: green;
	text-align: center;
}
ul.tips {
	font-family: Roboto;
	margin-left: 30px;
	text-align:left;
	font-size: 1.5em;
}
#container {
	min-width: 310px; 
	height: 400px; 
	max-width: 600px; 
	margin: 0 auto;
}

#showIncome {
	margin-top: 30px;
	margin-bottom: 20px;
}
li {
	display: block;
	margin-top: 10px;
}

input {
	margin-top: 10px;
}

select {
	margin-top: 10px;
}
ul.userInputs {
	float: left;
	text-align: left;
	font-size: 2em;
	margin-left: 60px;
	width: 30%;
}
h1.mainhead {
	font-size: 4em;
	text-align: center;
	margin-top: 20px
	margin-bottom: 10px;
}

.graph {
	height:20px;
    width:500px;
    display: inline-block;
    visibility: hidden;
    background-color: #0000FF;
}
table.categories {
	background-color: red;
	color: black;
	border-top: 2px solid black;
	width: 80%;
	text-align: left;
	margin-left: 100px;
	margin-top: 20px;
}
th {
	text-align: center;
	font-size: 1.5em;
}
table.topCategories {
	background-color: green;
	width: 40%;
	text-align: left;
	float: right;
	margin-right: 150px;
	margin-top: 50px;
	font-size: 2em;	
	border-color: black;
}

/*tr.green {
	color: green;
}
tr.red {
	color:red;
}
table.categories {
	float: right;
	margin: 20px;
	margin-right: 20px;	*/
